.App {
  text-align: center;
  /* position: relative; */
  height: 100%;
}

.main-div {
  position: relative;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  background-color: greenyellow;
} */

.title-header {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 100px;
  top: 100px;
  margin: auto;
  padding: 10px;
}
.about-me-text{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 30px;
  top: 100px;
  
}

.tour-date-list{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 30px;
  top: 0px;
  margin: auto;
  text-align: center;
}

.content-list{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 30px;
  top: 150px;
  margin: auto;
  text-align: center;
}

.email-box {
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 32px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  position: relative;
  left: 450px;
  top: 300px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}

.email-box:hover {
  border: 20px dotted gray;
}

.email-button {
 margin: 0 0.3em 0.3em 0;
 border-radius: 2em;
 box-sizing: border-box;
 text-decoration: none;
 font-family:'Roboto',sans-serif;
 font-weight: 300;
 text-align: center;
 transition: all 0.2s;
cursor: pointer;
}

.about-img{
  position: relative;
  left: 475px;
  top: 150px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}
.about-img:hover {
  border: 20px dotted gray; 
}

.broadway-tape {
  position: relative;
  left: 400px;
  top: 175px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}

.broadway-tape:hover {
  border: 20px dotted gray;
}

.broadway-tape-header {
  position: relative;
  left: 450px;
  top: 150px;
}

.content-links {
  position: relative;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
  width: 400;
  height: 200;
  margin: auto;
}

.content-links:hover {
  border: 20px dotted gray;
}

.social-links {
  position: relative;
  top: 200px;
  margin: auto; 
  /* text-align: center; */
  /* border: 20px dotted rgb(238, 229, 65); */
  padding: 10px;
  left: 345px;
  transition: border .25s;
  cursor:pointer
}
/* 
.social-link-image:hover {
  box-shadow: gray;
} */

.social-link-img {
  border-radius: 10%;
  text-align: center;
  padding: 20px;
}

.social-link-img:hover {
filter: drop-shadow(10px 10px 5px rgb(109, 108, 108));
}

/* Show Calendar */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #ace5d9d8;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #d189c4be;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(255, 250, 250);
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #ace5d9cf;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 0px;
  font-size:20px;
  color: rgb(247, 243, 243);
}

.days li .active {
  padding: 8px;
  background: #d189c4ab;
  color: white !important
}





