.App {
  text-align: center;
  /* position: relative; */
  height: 100%;
}

.main-div {
  position: relative;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  background-color: greenyellow;
} */

.title-header {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 100px;
  top: 00px;
  margin: auto;
  padding: 0px;
}


.content-list {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  left: 300px;
  top: 235px;
  margin: auto;
  text-align: center;
  color: rgb(253, 175, 188);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  text-shadow: .5px .5px rgb(128, 88, 95);
}

.content-caption {
  padding: 15px;
}

.about-me-header {
  text-align: center;
  top:0px;
  left: 400px;
}

.about-container {
  margin-left:auto;
  margin-right:auto;
  align-content: center;
  width:800px;
}

.about-me-text{
  text-align: center;
  padding: 50px;
  position: absolute;
  left: 30px;
  top: 200px;
  color: rgb(253, 175, 188);
  text-shadow: .5px .5px rgb(128, 88, 95);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.about-img{
  position: absolute;
  left: 475px;
  top: 375px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}
.about-img:hover {
  border: 20px dotted gray; 
}

.samhall-header {
  text-align: center;
  top:0px;
  left: 400px;
  padding: 0px;
}

.contact-container {
  margin-left:auto;
  margin-right:auto;
  align-content: center;
  width:800px;
}

.social-links {
  position: relative;
  top: 0px;
  margin: auto; 
  display: inline-block;
  position: absolute;
  left: 345px;
  top: 300px;
  padding: 10px;
  transition: border .25s;
  cursor:pointer
}

.social-link-img {
  border-radius: 10%;
  text-align: center;
  padding: 20px;
}

.social-link-img:hover {
filter: drop-shadow(10px 10px 5px rgb(109, 108, 108));
}

.email-button {
 margin: 0 0.3em 0.3em 0;
 border-radius: 2em;
 box-sizing: border-box;
 text-decoration: none;
 font-family:'Roboto',sans-serif;
 font-weight: 300;
 text-align: center;
 transition: all 0.2s;
cursor: pointer;
color: rgb(238, 229, 65);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: rgb(253, 175, 188);
text-shadow: .5px .5px rgb(128, 88, 95);
border-radius: 5mm;
}

.email-button:hover {
  background-color: rgb(216, 149, 160);
  
}

.email-box {
  color: rgb(253, 175, 188);
  text-shadow: .5px .5px rgb(128, 88, 95);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 50px;
  align-content: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  position: absolute;
  left: 500px;
  top: 485px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 30px;
  transition: border .25s;
}

.email-box:hover {
  border: 20px dotted gray;
}

.broadway-tape {
  position: absolute;
  left: 400px;
  top: 300px;
  bottom: 100px;
  border: 20px dotted rgb(82, 81, 81);
  padding: 10px;
  transition: border .25s;
}

.broadway-tape:hover {
  border: 20px dotted rgb(238, 229, 65);}

.broadway-tape-header {
  position: absolute;
  left: 475px;
  top: 260px;
  color: rgb(253, 175, 188);
  text-shadow: .5px .5px rgb(128, 88, 95);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content-links {
  position: relative;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
  width: 400;
  height: 200;
  margin: auto;
}

.content-links:hover {
  border: 20px dotted gray;
}

.contact-header {
  top: 50px;
  padding:20px;
}

.tour-date-list{
  font-family: 'Courier New', Courier, monospace;
  top: 640px;
  /* text-align: center; */
  color: rgb(253, 175, 188);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: .5px .5px rgb(128, 88, 95);
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}

.tour-date-list:hover {
  border: 20px dotted gray;
}

/* Show Calendar */
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.calendar-container {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: rgb(247, 242, 157);
  text-align: center;
  top: 25px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: rgb(253, 175, 188);
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 1px 1px rgb(128, 88, 95);
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: rgb(253, 175, 188);
  text-transform: uppercase;
  text-shadow: .5px .5px rgb(128, 88, 95);
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(255, 250, 250);
  text-align: center;
}

.days {
  padding: 35px 0;
  background:  rgb(247, 242, 157);
  margin: 10;
  text-shadow: .5px .5px rgb(128, 88, 95);
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:20px;
  color: rgb(253, 175, 188);
}

.days li .active {
  padding: 8px;
  background: rgb(253, 175, 188);
  color: white !important
}





