.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-header {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 100px;
  top: 100px;
  margin: auto;
  
}
.about-me-text{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 30px;
  top: 100px;
  
}

.tour-date-list{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  left: 30px;
  top: 150px;
  margin: auto;
  text-align: center;
}

.email-box{
  font-family: 'Courier New', Courier, monospace;
  padding: 15px 32px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  position: relative;
  left: 450px;
  top: 300px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}

.email.box:hover {
  border: 20px dotted gray;
}

.email-button {
 margin: 0 0.3em 0.3em 0;
 border-radius: 2em;
 box-sizing: border-box;
 text-decoration: none;
 font-family:'Roboto',sans-serif;
 font-weight: 300;
 text-align: center;
 transition: all 0.2s;
cursor: pointer;
}

.about-img{
  position: relative;
  left: 475px;
  top: 150px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}
.about-img:hover {
  border: 20px dotted gray; 
}

.broadway-tape {
  position: relative;
  left: 400px;
  top: 175px;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
}

.broadway-tape:hover {
  border: 20px dotted gray;
}

.broadway-tape-header {
  position: relative;
  left: 450px;
  top: 150px;
}

.content-links {
  position: relative;
  border: 20px dotted rgb(238, 229, 65);
  padding: 10px;
  transition: border .25s;
  width: 400;
  height: 200;
  margin: auto;
}

.content-links:hover {
  border: 20px dotted gray;
}

.social-links {
  position: relative;
  top: 200px;
  margin: auto;
  left: 450px;
  /* border: 20px dotted rgb(238, 229, 65); */
  padding: 10px;
  transition: border .25s;
}

.social-links:hover {
  /* border: 20px dotted gray; */
}



