body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  transition: all 0.4s;
  background-color: #4eb5f1;
}

.navbar .nav-link {
  color: rgb(17, 16, 16);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(7, 6, 6);
  text-decoration: none;
}

.navbar .navbar-brand {
  color: rgb(8, 7, 7);
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
      background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
}
/* \social link styling */
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.social-link {
  color: #fff;
  background: #ff3f3f;
  display: block;
  transition: all 0.3s;
}

.social-link:hover, .social-link:focus {
  color: white;
  text-decoration: none;
}

.social-link .icon {
  width: 4rem;
  text-align: center;
  margin-right: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.social-facebook {
  background: #3b5998;
}

.social-facebook:hover, .social-facebook:focus {
  background: #2d4373;
}

.social-twitter {
  background: #00aced;
}

.social-twitter:hover, .social-twitter:focus {
  background: #0087ba;
}

.social-google-plus {
  background: #dd4b39;
}

.social-google-plus:hover, .social-google-plus:focus {
  background: #c23321;
}

.social-behance {
  background: #00AFF0;
}

.social-behance:hover, .social-behance:focus {
  background: #008abd;
}

.social-soundcloud {
  background: #ff8800;
}

.social-soundcloud:hover, .social-soundcloud:focus {
  background: #cc6d00;
}

.social-github {
  background: #666666;
}

.social-github:hover, .social-github:focus {
  background: #4d4d4d;
}

.social-linkedin {
  background: #0077B5;
}

.social-linkedin:hover, .social-linkedin:focus {
  background: #005582;
}

.social-tumblr {
  background: #34465d;
}

.social-tumblr:hover, .social-tumblr:focus {
  background: #222d3c;
}

.social-pinterest {
  background: #bd081c;
}

.social-pinterest:hover, .social-pinterest:focus {
  background: #8c0615;
}

.social-vimeo {
  background: #1ab7ea;
}

.social-vimeo:hover, .social-vimeo:focus {
  background: #1295bf;
}

.social-vk {
  background: #4c75a3;
}

.social-vk:hover, .social-vk:focus {
  background: #3c5c80;
}

.social-dribbble {
  background: #ea4c89;
}

.social-dribbble:hover, .social-dribbble:focus {
  background: #e51e6b;
}

.social-youtube {
  background: #cd201f;
}

.social-youtube:hover, .social-youtube:focus {
  background: #a11918;
}

.social-medium {
  background: #02b875;
}

.social-medium:hover, .social-medium:focus {
  background: #018655;
}

.social-instagram {
  background: #e4405f;
}

.social-instagram:hover, .social-instagram:focus {
  background: #d31e40;
}

.social-skype {
  background: #00AFF0;
}

.social-skype:hover, .social-skype:focus {
  background: #008abd;
}

.social-vine {
  background: #00b489;
}

.social-vine:hover, .social-vine:focus {
  background: #008162;
}

.social-flickr {
  background: #ff0084;
}

.social-flickr:hover, .social-flickr:focus {
  background: #cc006a;
}

.social-flickr {
  background: #f94877;
}

.social-flickr:hover, .social-flickr:focus {
  background: #f71752;
}

.social-instagram {
  background: #e4405f;
}

.social-instagram:hover, .social-instagram:focus {
  background: #d31e40;
}

.social-link-gradient:hover, .social-link-gradient:focus {
  opacity: 0.9;
}

.social-link-gradient.social-facebook {
  background: linear-gradient(to right, #3b5998, #718dc8);
}

.social-link-gradient.social-twitter {
  background: linear-gradient(to right, #00aced, #54d0ff);
}

.social-link-gradient.social-google-plus {
  background: linear-gradient(to right, #dd4b39, #ec9a90);
}

.social-link-gradient.social-behance {
  background: linear-gradient(to right, #00AFF0, #57d2ff);
}

.social-link-gradient.social-soundcloud {
  background: linear-gradient(to right, #ff8800, #ffb866);
}

.social-link-gradient.social-github {
  background: linear-gradient(to right, #666666, #999999);
}

.social-link-gradient.social-linkedin {
  background: linear-gradient(to right, #0077B5, #1cb1ff);
}

.social-link-gradient.social-tumblr {
  background: linear-gradient(to right, #34465d, #59779e);
}

.social-link-gradient.social-pinterest {
  background: linear-gradient(to right, #bd081c, #f6354a);
}

.social-link-gradient.social-vimeo {
  background: linear-gradient(to right, #1ab7ea, #77d4f3);
}

.social-link-gradient.social-vk {
  background: linear-gradient(to right, #4c75a3, #8ca9c9);
}

.social-link-gradient.social-dribbble {
  background: linear-gradient(to right, #ea4c89, #f5a7c5);
}

.social-link-gradient.social-youtube {
  background: linear-gradient(to right, #cd201f, #e86a6a);
}

.social-link-gradient.social-medium {
  background: linear-gradient(to right, #02b875, #23fdad);
}

.social-link-gradient.social-instagram {
  background: linear-gradient(to right, #e4405f, #f199aa);
}

.social-link-gradient.social-skype {
  background: linear-gradient(to right, #00AFF0, #57d2ff);
}

.social-link-gradient.social-vine {
  background: linear-gradient(to right, #00b489, #1bffc9);
}

.social-link-gradient.social-flickr {
  background: linear-gradient(to right, #ff0084, #ff66b5);
}

.social-link-gradient.social-flickr {
  background: linear-gradient(to right, #f94877, #fcabc0);
}

.social-link-gradient.social-instagram {
  background: linear-gradient(to right, #e4405f, #f199aa);
}




